/* Full Nav Bar for PC*/
.navbar-main{
  width: 100%;
  position: fixed;
}

.ul-main{
  list-style-type: none;
  text-align: center;
}

.li-main{
  display: inline;
  font-family: 'Montserrat', sans-serif;
}

/* Button no Dropdown */
.button-main{
  background: none;
  border: none;
  cursor: pointer;
}

.button-main:hover{
  background-color:rgba(247, 164, 164, 0.5);
}

/* Hyperlink */
.a-main{
  text-decoration:none;
  font-weight: bold;
  font-size: 16px;
  color:#F7A4A4;
}

/* Dropdown */
.dropdown-main{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color:none;
  
  min-width: 100px;
  width:auto;
  border-width:2px;
  border-style:solid;
  border-color:white;
  
  text-align:left;
}

/* Dropdown Hover */
.a-main-dropdown:hover{
  background-color:rgba(247, 164, 164, 0.5);
}

.dropdown-main:hover .dropdown-content {
  display: block;
}

.dropdown-main:hover .dropbtn-main {
  background: none;
}

/* Dropdown Hyperlink */
.a-main-dropdown{
  text-decoration: none;
  font-size: 12px;
  color: #FEBE8C;
  padding: 5px 10px 5px 10px ;
  display: block;
}

/* Responsive to PC */
@media only screen and (max-width: 992px) {
  .navbar-main {display: none;}
} 

@media only screen and (min-width: 992px) {
  .navbar-secondary {display: none;}
} 

/* Nav for Mobile and Tablet  */
.navbar-secondary{
  width: 100%;
}

/* Collapse Button*/
.dropbtn-secondary{
  background: none;
  border: none;
  cursor: pointer;
  float: right;
  position: fixed;
}

.dropbtn-secondary:hover{
  background-color:rgba(247, 164, 164, 0.5);
}

.ul-2-navbar{
  list-style-type: none;
  text-align: center;
}




/* Nav Bar End */


/*Layout of the website */
.content {
  width: 100%;
height: 100%;
}
.side-bar{
  width: 18.5%;
  height: 100vh;
  float: right;
}
.side-bar2{
  width: 81.5%;
  height: 100vh;
  float: left;

}

/* Layout sidebar*/
.Heading{
  float: right;
  width: 100%;
  margin-top: 80%;
}
.title{
  display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color:#F55050;
    margin: auto;
    width: 100%;
    text-align: center;
    vertical-align: center;
}
.intro{
  position:relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  width: 100%;
  font-size: 30px;
  color:#FDD36A;
  margin: auto;
  text-align: center;
}
/*Background image */
body {
  background-image: url("Images/main1.jpg");
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
height: 100vh;
background-size: height: 100vh width: 1080px;
background-attachment: fixed;
background-repeat: no-repeat;
background-position: top 0px center;
}
/*testing */
.container{
  height: 100vh;
}


/*Animation */

.slide-right {
  margin-top: 18.3%;
  float:right;
}

.slide-right h2 {
  animation: 0.5s slide-up 1s forwards;
    transform:translatey(600%);
    color: white;
    font-size: 35px;
}

@keyframes slide-up {
  to {
    transform:translateX(0);

  }
}
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
/*Animation for H2 and container */
.flex-parent{
  float: right;  
  border:dashed 3px;
  padding: 20px;
  stroke-dasharray: 6,30px;

  border-left: 0px;
  border-right: 0px;
  border-color: white;
  border-radius: 5px;
  width: 37%;
  margin-right: 30px;
  position: relative;
  padding: 10px;
height: 60%;
background-color: rgba(54, 54, 54, 0.5);
transform: perspective(20em) rotateY(-5deg);
}