/* Nav Bar */
.navbar-main{
  width: auto;
}

.ul-navbar{
  list-style-type: none;
  text-align: center;
}

.li-navbar{
  display: inline;
  font-family: 'Montserrat', sans-serif;
}

.button-main{
  background: none;
  border: none;
  cursor: pointer;
}

.button-main:hover{
  background-color:rgba(247, 164, 164, 0.5);;
}

.a-main{
  text-decoration:none;
  font-weight: bold;
  font-size: 16px;
  color:#F7A4A4;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color:none;
  
  min-width: 100px;
  width:auto;
  border-width:2px;
  border-style:solid;
  border-color:white;
  
  text-align:left;
}

.a-secondary{
  text-decoration: none;
  font-size: 15px;
  color: #FEBE8C;
  padding: 5px 10px 5px 10px ;
  display: block;
}

.a-secondary:hover{
  background-color:none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn-main {
  background-color: none;
}

/* Nav Bar End */

.title{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color:#F55050;
    margin: 200px 20px 0 0;
    position: right;
    text-align: right;
}
/*Background image */
body {
  background-image: url("Images/main4.jpg");
overflow: hidden;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: height: 1920px width: 1080px;
background-attachment: fixed;
background-repeat: no-repeat;
background-position: top 0px center;
}

.intro{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color:#FDD36A;
  margin: -15px 20px 0px 0;
  position: right;
  text-align: right;
}

/*Animation */

.slide-right {
  width: 100%;
  margin-left: 500px;
  max-width: 600px;
  display: flex;
}

.slide-right h2 {
  animation: 0.5s slide-up 1s forwards;
    transform:translatey(600%);
    color: white;
    font-size: 30px;
}

@keyframes slide-up {
  to {
    transform:translateX(0);
  }
}
/*Animation for H2 and container */
.flex-parent{
display: flex;
}