/* Full Nav Bar for PC*/
.navbar-main{
  width: 100%;
  float:left;
  position: fixed;
}

.ul-nav-main{
  list-style-type: none;
  text-align: center;
}

.li-nav-main{
  display: inline;
  font-family: 'Montserrat', sans-serif;
}

/* Button no Dropdown */
.button-nav-main{
  background: none;
  border: none;
  cursor: pointer;
}

.button-nav-main:hover{
  background-color:rgba(247, 164, 164, 0.25);
}

/* Hyperlink */
.a-nav-main{
  text-decoration:none;
  font-weight: bold;
  font-size: 16px;
  color:#F7A4A4;
}

/* Dropdown */
.dropdown-nav-main{
  position: relative;
  display: inline-block;
}

.dropdown-content-nav-main{
  display: none;
  position: absolute;
  background-color:none;
  
  border-width:2px;
  border-style:solid;
  border-color:white;
  
  text-align:left;
}

/* Dropdown Hover */

.dropdown-nav-main:hover .dropdown-content-nav-main {
  display: block;
}

/* Dropdown Hyperlink */
.a-dropdown-nav-main{
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: #FEBE8C;
  padding: 5px 10px 5px 10px ;
  display: block;
}

.a-dropdown-nav-main:hover{
  background-color:rgba(247, 164, 164, 0.25);
}

/* Responsive to PC */
@media only screen and (max-width: 992px) {
  .navbar-main {display: none;}
} 

@media only screen and (min-width: 992px) {
  .navbar-secondary {display: none;}
} 

/* Nav for Mobile and Tablet  */
.navbar-secondary{
  width: 100%;
  position:fixed;
}

/* Collapse Button */
.collapse-btn-nav-secondary{
  float: right;
  background: none;
  border: none;
  cursor: pointer;

  margin-top: 5px;
  margin-right: 20px;
}

.collapse-btn-nav-secondary:hover{
  background-color:rgba(247, 164, 164, 0.25);
}

/* Collapse Container */
.collapse-container-nav-secondary{
  display: none;
  position: relative;
  float: right;
}

/* Collapse Hover */
.navbar-secondary:hover .collapse-container-nav-secondary {
  display: block;
}

/* Inside container */
.ul-nav-secondary{
  list-style-type: none;
  text-align: left;
}

.li-nav-secondary{
  font-family: 'Montserrat', sans-serif;
  padding: 5px 10px 5px 10px ;
}

/* Button no Dropdown*/
.button-nav-secondary{
  background: none;
  border: none;
  cursor: pointer;
}

.button-nav-secondary:hover{
  background-color:rgba(247, 164, 164, 0.25);
}

/* Hyperlink */
.a-nav-secondary{
  text-decoration:none;
  font-weight: bold;
  font-size: 16px;
  color:#F7A4A4;
}

/* Dropdown */
.dropdown-nav-secondary{
  position: relative;
  display: inline-block;
}

.dropdown-content-nav-secondary{
  display: none;
  position: absolute;
  background-color:none;
  
  min-width: 100px;
  border-width:2px;
  border-style:solid;
  border-color:white;
  
  text-align:left;
}

/* Dropdown Content */
.a-dropdown-nav-secondary{
  text-decoration: none;
  font-size: 12px;
  color: #FEBE8C;
  padding: 5px 10px 5px 10px ;
  display: block;
}

.a-dropdown-nav-secondary:hover{
  background-color:rgba(247, 164, 164, 0.25);
}

/* Dropdown Hover */
.dropdown-nav-secondary:hover .dropdown-content-nav-secondary{
  display: block;
}

/* Social Media Icon */


/* Nav Bar End */

/*Layout of the website */
.content {
  width: 100%;
height: 100%;
}
.side-bar{
  width: 18.5%;
  height: 100vh;
  float: right;
}
.side-bar2{
  width: 81.5%;
  height: 100vh;
  float: left;

}

/* Layout sidebar*/
.Heading{
  float: right;
  width: 100%;
  margin-top: 80%;
}
.title{
  display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color:#F55050;
    margin: auto;
    width: 100%;
    text-align: center;
    vertical-align: center;
}
.intro{
  position:relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  width: 100%;
  font-size: 30px;
  color:#FDD36A;
  margin: auto;
  text-align: center;
}
/*Background image */
body {
  background-image: url("Images/main1.jpg");
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
background-position: top 0px center;
}
/*testing */
.container{
  height: 100vh;
}


/*Animation */

.slide-right {
  margin-top: 18.3%;
  float:right;
}

.slide-right h2 {
  animation: 3s slide-up 1s forwards;
    color: white;
    opacity: 0;
    font-size: 35px;
}

@keyframes slide-up {
  0% { opacity: 0; 
  }
  100% {
    opacity: 1;
  } 
  to{

  }
}
/*Animation for H2 and container */
.flex-parent{
  float: right;  
  border:dashed 3px;
  padding: 20px;
  stroke-dasharray: 6,30px;

  border-left: 0px;
  border-right: 0px;
  border-color: white;
  border-radius: 5px;
  width: 37%;
  margin-right: 30px;
  position: relative;
  padding: 10px;
height: 60%;
transform: perspective(20em) rotateY(-5deg);
background-color: rgba(0, 0, 0, 0.5);
}